__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
build/
build_out/
dist/
*.spec
*.exe
Vyre.build/
Vyre.dist/
Vyre.onefile-build/

vault.dat
vault-*.dat
*.locked-*
config.json
profiles.json
profiles/
*.vyre
*.log

.vscode/
.idea/
.DS_Store
Thumbs.db
